.dropdown button {
    background-color: #808080b7;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 100px;
    box-shadow: 2px 2px 5px black
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: green;
}

.dropdown:hover a {
    background-color: red;
}