.dropdown button {
    background-color: grey;
    color: white;
    padding: 10px 15px;
    border: none;
}

.dropdown a {
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 50px;
    box-shadow: 2px 2px 5px black
}

.dropdown button:hover {
    background-color: red;
}

.dropdown:hover a {
    display: block;
    background-color: yellow;
}

.dropdown:hover .content {
    display: block;
}